.outer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  /* border: 1px solid black; */
}

.event-container {
  text-align: center;
  width: 75vw;
  border-radius: 10px;
  border: 3px solid #e4e4cd;
}

.event-list {
  /* border: 3px solid red; */
}

.event-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.event-header > h2 {
  flex: 1 1 auto;
}

.event-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #e5e2cf;
  margin: 10px;
  padding: 10px;
  /* border: 1px solid black; */
}

.event-item > * {
  flex: 1 1 auto;
}

.event-item > div {
  padding: 0;
  margin: 0;
  /* change padding and margin later */
}

.event-form__action {
  display: inline;
}

.new-event-btn {
  background-color: #008dbf;
  color: white;
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #dedede;
}
